.CardBody {
  font-family: "Fira Sans", sans-serif;
  padding-top: 15px;
  padding: 8px 25px;
}

.Description {
  font-size: 15px;
}

.Description h2,
h3 {
  text-align: left;
  margin: 0;
  position: relative;
  right: 20px;
  top: 30px;
}

.Description h2 {
  font-size: 40px;
}
.Description h3 {
  font-size: 18px;
  font-weight: bold;
}

.Description h3:first-letter {
  text-transform: capitalize;
}

.Image .primary-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

.OtherMeasures ul {
  list-style: none;
  padding: 0;
  margin-top: 45px;
  position: relative;
  right: 60px;
  bottom: 12px;
  text-align: center;
  font-size: 16px;
}

.Search input {
  width: 250px;
  position: relative;
  margin-right: 4px;
}

.Title h1 {
  font-size: 30px;
  font-style: italic;
  margin: 22px auto 0 0;
  color: #2f90c5;
  font-weight: bolder;
}

#submit,
#find-me {
  margin: 0 4px;
}

.TempButtons .Celsius-button,
.Farenheit-button {
  position: relative;
  right: 30px;
}
