.ButtonDate .button-date {
  border-radius: 50%;
  font-weight: bold;
  position: relative;
  left: 3px;
  bottom: 15px;
  border-color: #6c757d;
  border: solid;
  padding: 14px;
  font-size: 14px;
  background: white;
  font-weight: bold;
}

.ButtonDate .date {
  font-size: 15px;
}
